h2.text-center {
  font-weight: bold;
  color: #2c3e50;
}

form {
  background-color: #f9f9f9;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
  border-radius: 8px;
}

.top {
  margin-bottom: 30px !important;
}